.input {
    border-bottom: 1px solid gray; 
    outline: none; 
    transition: border-bottom 0.3s; 
    margin-right: 10px;
}

.input:focus { 
    border: none;
    outline: none;
    border-bottom: 1px solid;
}

textarea:focus {
    border: none;
    outline: none;
}

