.bg-shape{
    height: 20vh;
    width: fit-content;
    background-image: url('/images/background-shape.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.bg-img{
    height: 20vh;
    width: fit-content;
    background-image: url('/images/online-reservation.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}